# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=""

# Direct connection to the database. Used for migrations.
DIRECT_URL=""

# Supabase API
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Telegram Bot
TELEGRAM_BOT_TOKEN=""
TELEGRAM_WEBHOOK_SECRET=""
